<div class="container">
    <table class="table table-striped">
        <caption>商品2信息页面</caption>
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名称</th>
            <th>商品价格</th>
            <th>商品品类</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>{{product.id}}</th>
            <td>{{product.title}}</td>
            <td>{{product.price}}</td>
            <td>{{product.desc}}</td>
          </tr>
        </tbody>
      </table>
  </div>