<div class="bind-page">
  <h1>data-bind测试</h1>
    <button (click)="clickHand($event)">点我</button>
    <br />
    <br />
    <div>图片绑定测试：</div>
    <p>测试1：</p>
    <img [src]="imgUrl">
    <br />
    <p>测试2：</p>
    <img src="{{imgUrl}}" alt="">
    <br />
    <br />
    <p>关于html绑定，dom绑定：默认是单向绑定的</p>
    <input value="Tom" (input)="doOnInput($event)">
    <br>
    <br />
    <button disabled="false">禁用的按钮</button>
    <br>
    <br>
    <p>双向绑定测试：</p>
    <input type="text" name="name" [(ngModel)]="name1" required>
    <p>展示绑定的数据：{{name1}}</p>
    <h4>管道测试：</h4>
    <p>日期：{{birthday | date | uppercase }}</p>
    <p>日期2：{{birthday | date:'yyyy/MM/dd HH:mm:ss' }}</p>
    <!-- number管道用来将数字处理为我们需要的小数格式 
    接收的参数格式为{最少整数位数}.{最少小数位数}-{最多小数位数}  -->
    <p>数字管道：{{pi | number:'2.2-2' }}</p>
    <h4>自定义的管道:</h4>
    <p>输出数字是绑定数值的倍数：{{myNum | multipipe:'2'}}</p>
</div>
